.first,.second{
    border: 2px solid ;
    float: left;
}
.first,.second{
    margin: 110px;
    padding: 10px;
    width: 500px;
    height: 400px;
}
.first{
    background-color: rgb(206, 239, 73);
    
}
.second{
    background-color: rgb(42, 172, 13);
}
.sub{
    text-align: center;
    font-size: 50px;
    background-color: red;
}
body{
    background-color: antiquewhite;
}
.first1{
    font-size: 30px;
    text-align: center;
}
.first2{
  padding: 40px;
  margin: 30px;
}
#otp,#capcha{
    width: 400px;
    border-radius: 20px;
    height: 50px;
    margin: 20px;
}
#btn,#btn1{
    width: 200px;
    border-radius: 20px;
    height: 60px;
    margin: 20px;
}